@model MiPerfilViewModel
@{
    ViewData["Title"] = "Mis Datos";
}

<form id="formMiPerfil" asp-action="MisDatos" method="post">
    <div class="modal-header">
        <h5 class="modal-title">@ViewData["Title"]</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
    </div>

    <div class="modal-body">
        <div asp-validation-summary="ModelOnly" class="text-danger mb-3"></div>
        <div class="row">
            <div class="col-md-6 mb-3">
                <label asp-for="Dni" class="form-label"></label>
                <input asp-for="Dni" class="form-control" readonly disabled />
            </div>
            <div class="col-md-6 mb-3">
                <label asp-for="Email" class="form-label"></label>
                <input asp-for="Email" class="form-control" readonly disabled />
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>
        </div>

        <div class="row">
            <div class="col-md-6 mb-3">
                <label asp-for="Nombre" class="form-label"></label>
                <input asp-for="Nombre" class="form-control" />
                <span asp-validation-for="Nombre" class="text-danger"></span>
            </div>
            <div class="col-md-6 mb-3">
                <label asp-for="Apellido" class="form-label"></label>
                <input asp-for="Apellido" class="form-control" />
                <span asp-validation-for="Apellido" class="text-danger"></span>
            </div>
        </div>

        <div class="row">
            <div class="col-md-6 mb-3">
                <label asp-for="PhoneNumber" class="form-label"></label>
                <input asp-for="PhoneNumber" class="form-control" />
                <span asp-validation-for="PhoneNumber" class="text-danger">
                </span>
            </div>
            <div class="col-md-6 mb-3">
                <label asp-for="Carrera" class="form-label"></label>
                <input asp-for="Carrera" class="form-control" />
                <span asp-validation-for="Carrera" class="text-danger"></span>
            </div>
        </div>
    </div>

    <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
        <button type="submit" class="btn btn-primary">Guardar Cambios</button>
    </div>
</form>

<partial name="_ValidationScriptsPartial" />