@model CursoDetailsViewModel

<div class="modal-header">
    <h5 class="modal-title">Detalle del Curso</h5>
    <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
</div>

<div class="modal-body">
    <partial name="_CursoInfo" model="Model" />
</div>